.appschool-txt-box{
    display: block;
    margin:0 auto;
    width:100%;
    height: auto;
}
.appschool-txt-box h1{

    right:10%; 
}
h1{
    color:#010A8B;
    font-size: 120%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
.subtitles{
    margin-top: 0;
    color:#5C5F66;
    font-size: 80%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.buttons{
    cursor: pointer;

    margin-right:40%;
    margin-top:2% ;
    box-shadow: 0px 15px 20px #91F20D26;
    background: #7DD505;
    border-radius: 10px;
    text-align: center;
    color:#fff;
    opacity: 1;
    font-size: 16px;;
    width: 20%;
    padding:0.5% 0.5%; 
    text-decoration: none;
    box-shadow: 0px 15px 20px #91F20D26;

}
.btn:link,
.btn:visited{
    display: inline-block;
    padding:10px 10px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    border-radius: 200px;
    color:#fff;
    transition: background-color 1s, border 1s, color 1s;
}
.btn:hover,
.btn:active{
    background-color: #010A8B;
}


.Illustration{
    display: block;
    width: 100%; 
    float: right;
}
.Illustration img{
    width: 50%;
    height: auto;
    margin-right: 20%;
    transform: scale(1);
    transition: transform 0.5s;
}
.Illustration img:hover{
    transform: scale(1.1);
}
@media only screen and (max-width: 550px) {
    .buttons{
        margin-right:30%;
        margin-top:2% ;
        box-shadow: 0px 15px 20px #91F20D26;
        background: #7DD505;
        border-radius: 10px;
        text-align: center;
        color:#fff;
        opacity: 1;
        width: 40%;
        text-decoration: none;
        box-shadow: 0px 15px 20px #91F20D26;
    
    }
    

}

