<section class="phase1" id="section1">
        <div class="appschool-txt-box">
            <h1>
               {{titles[0]}}<br>{{titles[1]}}
            </h1>
            <div class="subtitles">
               <p>{{ subtitles[0] }}</p>
               <p>{{subtitles[1]}}</p>
               <p>{{subtitles[2]}}</p>
               <p class="buttons" (click)="sendWhatsApp()">
                  <a class="btn" href="#">אני רוצה ללמוד html&css3</a>
                  <img src="assets/images/whatsapp.svg">
               </p> 
    
            </div>
        </div>
        <div class="Illustration">
            <img src="assets/images/illustartion 2.png">
         </div>
</section>
  
  
  
  