<section class="phase5" dir="rtl" id="section5">

    <h2 class="title">{{title}}</h2>
    <h1 class="subtitle">{{subtitle}}</h1>
    <div class="main">
        <ul class="get">
            <li>
                <p class="mini_box">1</p>
                <p class="paragraph">{{p1}}</p>
            </li>
            <li>
                <p class="mini_box">2</p>
                <p class="paragraph">{{p2}}</p>
            </li>
            <li>
                <p class="mini_box">3</p>
                <p class="paragraph">{{p3}}</p>
            </li>
            <li>
                <p class="mini_box">4</p>
                <p class="paragraph">{{p4}}</p>
            </li>
        </ul>
        <img src="assets/images/illustration.svg">
        <div class="contact" (click)="sendWhatsApp()">
                <div class="buttons">
                    <a class="second-btn">
                        <span class="btnMessage">
                            <img src="assets/images/whatsapp.svg">
                        </span>
                        <span class="txtMessage">אני רוצה פרטים</span>
                    </a>
                </div>
        </div>
    
    </div>

</section>



