<section dir="rtl" class="phase2" id="section2">
    <h2 class="title">{{title}}</h2>
    <div class="videoBox">
        <h3 class="videoTitle">הוספת חפצים למשחק</h3>
        <div class="video_wrap">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iXwNoQSHTnw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="videoBox">
        <h3 class="videoTitle">בניית המבנה הראשון שלי</h3>
        <div class="video_wrap">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/L-8-PRZRzRs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="videoBox">
        <h3 class="videoTitle">הוספת לוח עם שאלה למבנה</h3>
        <div class="video_wrap">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vScHVoOLonA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="moreStaff">
        <div class="presentLink">
            <a href="https://54321.co.il/assets/presentations/a2.pdf">הורד מצגת שיעור 2</a>
        </div>
        <div class="presentLink">
            <a (click)="openDialog()">לחץ כאן למטלה מספר 2</a>
        </div>              
    </div>


</section>