<section class="phase3" dir="rtl" id="section3">
    <div class="boxes">
        <div class="phase3-box">
            {{setntence1}}
        </div>
        <div class="phase3-box">
            <img src='assets/images/man.svg'>
        </div>
        <div class="phase3-box">
            {{setntence2}}
        </div>
    </div>
    <div class="title">
        {{title}}
    </div> 
    <div class="reason_title">
        {{subtitle}}
    </div> 
    
    <div class="reason_boxes">
        <div class="reason">
            <div class="mini_box">
                <p>1</p>
            </div>
            <div class="mini_title">
                <p>{{title1}}</p>
            </div>
            <div class="mini_parafraph">
                <p>{{p1}}</p>
            </div>
        </div>
        <div class="reason">
            <div class="mini_box">
                <p>2</p>
            </div>
            <div class="mini_title">
                <p>{{title2}}</p>
            </div>
            <div class="mini_parafraph">
                <p>{{p2}}</p>
            </div>
        </div> 
    
    </div>
    <div class="reason_boxes">
            <div class="reason">
                <div class="mini_box">
                    <p>3</p>
                </div>
                <div class="mini_title">
                    <p>{{title3}}</p>
                </div>
                <div class="mini_parafraph">
                    <p>{{p3}}</p>
                </div>
            </div>
            <div class="reason">
                <div class="mini_box">
                    <p>4</p>
                </div>
                <div class="mini_title">
                    <p>{{title4}}</p>
                </div>
                <div class="mini_parafraph">
                    <p>{{p4}}</p>
                </div>
            </div> 
    </div>
    <div class="btns">
        <p class="buttons" (click)="sendWhatsApp()">
            <a class="btn" href="#">אני רוצה ללמוד html&css3</a>
            <img src="assets/images/whatsapp.svg">
        </p> 
    </div>
    </section>    