<section class="phase4" dir="rtl" id="section4">
    <h2 class="title">{{title}}</h2>
    <div class="boxes">
        <div class="phase4-box">
            <img src="assets/images/Flat.svg">
            <p class="box-paragraph">{{p1}}</p>
        </div>
        <div class="phase4-box">
            <img src="assets/images/writer.svg">
            <p class="box-paragraph">{{p2}}</p>
        </div>
        <div class="phase4-box">
            <img src="assets/images/freelance.svg">
            <p class="box-paragraph">{{p3}}</p>
        </div>
        
    </div>

    <p class="pfinal">{{pfinal}}</p>
</section>
