<section dir="rtl" class="phase2" id="section2">
    <h2 class="title">{{title}}</h2>
    <div class="videoBox">
        <h3 class="videoTitle">אוצר מילים לתרגיל</h3>
        <div class="video_wrap">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/_khSNU8ghqM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>    
    <div class="videoBox">
        <h3 class="videoTitle">בניית מבנה מבוסס אוצר המילים</h3>
        <div class="video_wrap">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Ix-UYOBow8E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="moreStaff">
        <div class="presentLink">
            <a href="https://54321.co.il/assets/presentations/a3.pdf">הורד מצגת שיעור 3</a>
        </div>
        <div class="presentLink">
            <a (click)="openDialog()">לחץ כאן למטלה מספר 3</a>
        </div>              
    </div>


</section>