<header>
        <div class="top-header">
          <nav>
              <a href="javascript:void(0);" class="icon" (click)="myFunction()">
                  <i class="fa fa-bars"></i>
              </a>
              <ul class="main-nav" name="links" id="links">
                <li><a href="#section1">עמוד הבית</a></li>
                <li><a href="#section2">מה נלמד</a></li>
                <li><a href="#section3">דרישות קדם</a></li>
                <li><a href="#section4">האם זה בשבילך</a></li>
                <li><a href="#section5">מה עוד תקבל</a></li>
                <li><a href="#section6">צור עמנו קשר</a></li>
              </ul>
          </nav> 
          <div class="logo">
              <img src="assets/images/logo.png">
          </div>
        </div>
</header>
      